
	<footer class="footer-page">
		<div class="container  navbar navbar-inverse bg-inverse">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<nav>
						<ul class="list-unstyled">
							<h5>LA FACULTAD</h5>
							<li><a href="/sistemas">EP Ingeniería de Sistemas</a></li>
							<li><a href="/software">EP Ingeniería de Software</a></li>
							<li><a href="/posgrado">Posgrado</a></li>
							<li><a href="/ceups">CERSEU</a></li>
							<li><a href="/unidad/occa">OCCA</a></li>
						</ul>
					</nav>
				</div>

				<div class="col-xs-12 col-sm-4">
					<nav>
						<ul class="list-unstyled">
							<h5>SERVICIOS UNIVERSITARIOS</h5>
							<li><a target="_blank" href="http://sisbib.unmsm.edu.pe">Sistema de Bibliotecas</a></li>
							<li><a target="_blank" href="http://unmsm.edu.pe/occaa">Calidad Académica OCCA</a></li>
							<li><a target="_blank" href="http://ccsm-unmsm.edu.pe">Centro Cultural</a></li>
							<li><a target="_blank" href="http://clinica.unmsm.edu.pe">Clínica Universitaria</a></li>
							<li><a target="_blank" href="http://ogbu.unmsm.edu.pe">Bolsa de trabajo</a></li>
						</ul>
					</nav>
				</div>

				<div class="col-xs-12 col-sm-4">
					<nav>
						<ul class="list-unstyled">
							<h5>SERVICIOS AL ESTUDIANTE</h5>
							<li><a href="/unidad/unayoe">UNAYOE</a></li>
							<li><a href="/unidad/bienstar">Unidad de Bienestar</a></li>
							<li><a href="/bolsa-de-trabajo">Bolsa de Trabajo</a></li>
							<li><a href="/biblioteca">Biblioteca</a></li>
						</ul>
					</nav>
				</div>
				<div class="ubicacion">
					<address class="text-left">
						 	<p><i class="fa fa-home" ></i> Ciudad Universitaria - Av. Germán Amézaga</p>
							<p><i class="fa fa-phone"></i> Teléfono: 619 - 7000 Anexo 3632</p>
							<p><a href="mailto:informatica.fisi@unmsm.edu.pe"><i class="fa fa-envelope-o" aria-hidden="true"></i> informatica.fisi@unmsm.edu.pe</a></p>
						 </address>
				</div>
			</div>
		</div>
	</footer>