
<header class="banner_superior">
    <div class="banner-sup">
        <div class="img-unmsm"><img class="escudo" src="assets/img/UNMSM_logo.png" alt="unmsm"></div>
        <div class="img-ia"><img class="int_art" src="assets/img/tesis2.png" alt="Int. Artificial"></div>
        <div class="intermedio">
            <h1>TESIS II<!-- <br><i id="id_grupo">Grupo 5</i> --></h1>
        </div>
    </div>
    <img src="" alt="">
    <nav class="navbar navbar-toggleable-sm  navbar-inverse bg-inverse fondo-menu">
        <a target="_blank" href="http://www.unmsm.edu.pe/" class="navbar-brand unmsm-letra">UNMSM</a>
        <ul class="nav navbar-nav ">
            <li class="nav-item"><a href="/" class="nav-link"><i class="fa fa-globe" aria-hidden="true"></i> INICIO</a></li>
            <li class="nav-item"><a target="_blank" href="https://drive.google.com/file/d/1uzA8vpMpSH5YKC_jk6W-xTfkVJjmP5Wr/view?usp=sharing" class="nav-link"><i class="fa fa-download" aria-hidden="true"></i> SILABO</a></li>
            <!-- <li class="nav-item"><a href="nosotros.html" class="nav-link"><i class="fa fa-address-card" aria-hidden="true"></i> NOSOTROS</a></li>
            <li class="nav-item"><a href="proyectos.html" class="nav-link"><i class="fa fa-th" aria-hidden="true"></i> PROYECTOS</a></li>
            <li class="nav-item"><a href="programas.html" class="nav-link"><i class="fa fa-external-link" aria-hidden="true"></i> EXTERNOS</a></li> -->
        </ul>

        <!-- Contador de pagina -->


        <!-- Fin Contador de pagina -->
    </nav>
</header>