<div id="silabo">
  <div class="row">
    <section class="col-10">
      <h5>CONTENIDO DEL CURSO</h5>
      <div class="desarrollo-tabla">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th class="col1">Semana</th>
              <th class="col2">Tema</th>
              <th class="col3">Exposiciones y Trabajos</th>
            </tr>
          </thead>
          <tbody>
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">1</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Clasificación de problemas algorítmicos
                </h6>
                <p>
                  Presentación del curso. Clasificación de problemas
                  algorítmicos, problemas P y NP. Problemas de decisión,
                  localización y optimización. Descripción de algunos problemas
                  NP-difícil.
                </p>
              </td>
              <td class="col3"><a target="_blank" href="https://drive.google.com/file/d/16StnaU-5mu-Kkj3lUhSzzm9_fBF6YVz4/view?usp=sharing"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Emil Zapata </a>
                <a target="_blank" href="https://drive.google.com/file/d/16StnaU-5mu-Kkj3lUhSzzm9_fBF6YVz4/view?usp=sharing"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Raul Ricardo </a></td>
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">2</th>
              <td class="col2">
                <h6 class="titulo-clase">Fundamentos de la TESIS II</h6>
                <p>
                  Definición de la TESIS II. Máquina inteligente. Diferencia
                  entre sistemas operacionales y sistemas inteligentes.
                  Aplicaciones en la industria y servicios (robótica,
                  planificación, gestión de desperdicios). Test de Turing.
                </p>
              </td>
              <td class="col3"><a target="_blank" href="https://drive.google.com/file/d/16StnaU-5mu-Kkj3lUhSzzm9_fBF6YVz4/view?usp=sharing"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Emil Zapata </a>
                <a target="_blank" href="https://drive.google.com/file/d/1Kcum_IgWmLzTtaKEFgNoL7ni_nodHze2/view?usp=sharing"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Raul Balvin </a></td>
            </tr>
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">3, 4</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Representación de problemas de juego humano – máquina como
                  búsqueda en un espacio de estado
                </h6>
                <p>
                  Definición de problemas de la IA como problemas de búsqueda en
                  un espacio de estado. Representación de problemas de juegos
                  humano – máquina.
                </p>
              </td>
              <!-- <td class="col3"><a target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2iodDNQVFJxNm9rZHM"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Representación de problemas de juego humano</a>
                              <br><br>
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioRTJTdHE2clRQSEE"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Lab1 - Problemas en Lisp</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">5</th>
              <td class="col2">
                <h6 class="titulo-clase">Métodos de Búsqueda Ciega</h6>
                <p>
                  El problema de búsqueda en un espacio de estado como grafo. La
                  imposibilidad de usar métodos de caminos mínimos. El concepto
                  de los métodos de búsqueda ciega e informada. El árbol de
                  estado. Los métodos ciegos: amplitud, profundidad,
                  no-deterministico.
                </p>
              </td>
              <!-- <td class="col3"><a target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioejBwV3pWS2syWnc"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Métodos de búsqueda ciega</a>
                              <br><br>
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2iob3Rsa1NJUzd0b28"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Lab2 - Problemas en Lisp</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">6</th>
              <td class="col2">
                <h6 class="titulo-clase">Métodos de búsqueda informados</h6>
                <p>
                  La función evaluadora, métodos que usan información adicional:
                  primero el mejor, ascenso a la colina, A*, ramificación y
                  acotación.
                </p>
              </td>
              <!-- <td class="col3"><a target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2iocVYtVUU3ck96QXc" aria-hidden="true"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Métodos de buúsqueda informada</a>
                              <br><br>
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioQkFWRjFGSGdxQzg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Lab2 - Recursividad en Lisp</a>
                              <br><br>
                              <a class="plus-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioQkFWRjFGSGdxQzg"><i class="fa fa-file-code-o" aria-hidden="true"></i> Plus-Rec.Profundidad</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!-- ***************************** Estructura de semana **********************-->
            <tr>
              <th class="col1">7</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Métodos de búsqueda para juegos humano-máquina
                </h6>
                <p>
                  Algoritmo de juego humano – máquina. Estrategias de juego de
                  máquina: no determinístico, primero el mejor, min-max y mejor
                  diferencia de utilidades. Algoritmo min-max y alfa-beta.
                </p>
              </td>
              <!-- <td class="col3"><a target="_blank" href="https://drive.google.com/file/d/0Bxmnjcyvw2ioeDBDR2ltVDY1UnM/view?usp=sharing" aria-hidden="true"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Métodos de búsqueda para juegos humano-máquina</a>
                              <br><br>
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioYnotZVBEZXYtV00"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Solucionario 1° Practica</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <tr>
              <th class="col1">8</th>
              <td class="col2">
                <h6 class="titulo-clase">Exámen Parcial</h6>
              </td>
              <!-- <td class="col3">
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioQkFWRjFGSGdxQzg"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Solucionario del Exámen Parcial</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana **********************-->
            <tr>
              <th class="col1">9</th>
              <td class="col2">
                <h6 class="titulo-clase">Fundamentos de sistemas expertos</h6>
                <p>
                  Definición de Sistemas Expertos. Arquitectura de un sistema
                  experto. Taxonomía y aplicaciones de los sistemas expertos.
                  Requisitos para el desarrollo de sistemas expertos y ventajas
                  del uso de sistemas expertos. Algunos problemas basados en el
                  conocimiento.
                </p>
              </td>
              <!-- <td class="col3">
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioaHBBekQ3MVRhM00"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Lab - Ejemplo Básico Prolog</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  10 **********************-->
            <tr>
              <th class="col1">10</th>
              <td class="col2">
                <h6 class="titulo-clase">Ingeniería de conocimiento</h6>
                <p>
                  Introducción. Adquisición de conocimiento. La metodología
                  CommonKADS. Diseño de Sistemas Expertos (SE). Ciclo de vida de
                  un SE.
                </p>
              </td>
              <!-- <td class="col3">
                              <a class="pl-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioOExMRU9TX0owdkU"><i class="fa fa-first-order" aria-hidden="true"></i> SE. Arbol Genealogico</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  11 **********************-->
            <tr>
              <th class="col1">11</th>
              <td class="col2">
                <h6 class="titulo-clase">Adquisición de Conocimiento</h6>
                <p>
                  Adquisición de conocimiento. Construcción de la base de hechos
                  y base de conocimiento. Estructuras de representación de
                  conocimientos (reglas de inferencias, frames, objects,
                  ontologías, metadatos, thesaurus).
                </p>
              </td>
              <!-- <td class="col3">

                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  12 **********************-->
            <tr>
              <th class="col1">12</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Desarrollo de sistemas expertos basados en reglas
                </h6>
                <p>
                  Construcción de la base de hechos y base de conocimiento. El
                  motor de inferencia. Los métodos de encadenamiento regresivo,
                  progresivo y reversibilidad. Técnicas de equiparación, el
                  algoritmo RETE. Técnicas de resolución de conflictos.
                </p>
              </td>
              <!-- <td class="col3">
                              <a class="pl-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioLXlaZENpM2VpTjA"><i class="fa fa-first-order" aria-hidden="true"></i>Lab. SE. Paraderos</a>
                              <br>
                              <a class="pl-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioeWpUVEhUcGROMkU"><i class="fa fa-first-order" aria-hidden="true"></i>Lab. Conteo Soluciones Prolog</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  13 **********************-->
            <tr>
              <th class="col1">13</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Calidad y validación de sistemas expertos
                </h6>
                <p>
                  Principales errores en el desarrollo de un sistema experto.
                  Calidad de un sistema experto. Validación de sistemas
                  inteligentes, métodos cuantitativos de validación. Eficiencia
                  y error de sistemas expertos. Revisión de la funcionalidad del
                  SE del 2do trabajo.
                </p>
              </td>
              <td class="col3"></td>
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  14 **********************-->
            <tr>
              <th class="col1">14</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Introducción a Machine Learning y heurísticas
                </h6>
                <p>
                  Conceptos de aprendizaje y de machine learning. Sistemas
                  experto vs machine learning. Técnicas de aprendizaje y fases
                  de desarrollo de machine learning. Aplicaciones de machine
                  learning en la industria y servicios. El problema de la
                  optimización combinatoria. Conceptos de heurísticas y
                  meta-heurísticas. Algoritmos exactos vs algoritmos
                  heurísticos. Técnicas heurísticas y meta-heurísticas.
                  Problemas de optimización combinatoria en la industria y
                  servicios.
                </p>
              </td>
              <td class="col3"></td>
            </tr>
            <!-- ***************************** Fin de semana **********************-->
            <!--Estructura de semana  11 **********************-->
            <tr>
              <th class="col1">15</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Presentación de trabajos computacionales
                </h6>
                <p>
                  <i
                    >Los alumnos mostrarán sus habilidades en cuanto al
                    desarrollo de sistemas expertos y sus aplicaciones en los
                    sectores de la industria y servicio. Los alumnos presentarán
                    un informe y un software.</i
                  >
                </p>
              </td>
              <!-- <td class="col3">
                              <a class="pl-docum" target="_blank" href="https://rk-hk.github.io/InteligenciaArtificialPage/proyectos.html"><i class="fa fa-android" aria-hidden="true"></i> ¿Dónde Está El Burrito?</a>

                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->

            <!--Estructura de semana  16 **********************-->
            <tr>
              <th class="col1">16</th>
              <td class="col2">
                <h6 class="titulo-clase">Semana de Exámen Final</h6>
                <p></p>
              </td>
              <!-- <td class="col3">
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioTFlXNXg1X3hoSlE"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exámen Final</a>
                              <br>

                              <a class="pl-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioa0JqMHVkMG12czg"><i class="fa fa-first-order" aria-hidden="true"></i> Lab. Exámen Final</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->

            <!--Estructura de semana  16 **********************-->
            <tr>
              <th class="col1">17</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  Proyecto IA: Ubicación en tiempo Real del Bus Universitario
                  (Burrito).
                </h6>
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/wCbz69NOLno" frameborder="0" allowfullscreen></iframe> -->
              </td>
              <!-- <td class="col3">
                              <br><br>
                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioS3B6MURJWWlTLXc"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Informe Final</a>
                              <br>

                              <a class="pdf-docum" target="_blank" href="https://drive.google.com/open?id=0Bxmnjcyvw2ioX2J0bF9xWlhGUTQ"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Articulo del proyecto</a>
                          </td> -->
            </tr>
            <!-- ***************************** Fin de semana **********************-->
          </tbody>
        </table>
      </div>
    </section>
    <aside class="col-2">
      <h5>Otros grupos</h5>

      <div *ngFor="let group of dataOtherGroups" class="border border-primary">
        <h3>
          {{ group.name }}
        </h3>
        <hr />
        <ul>
          <li *ngFor="let member of group.members">{{ member }}</li>
        </ul>
      </div>
    </aside>
  </div>
</div>
