<div id="silabo">
  <div class="row">
    <section class="col-10">
      <h5>CONTENIDO DEL CURSO</h5>
      <div class="desarrollo-tabla">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th class="col1">Semana</th>
              <th class="col2">Tema</th>
              <th class="col3">Trabajos</th>
              <th class="col4">Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- ***************************** Estructura de semana **********************-->

            <tr *ngFor="let week of semanas">
              <th class="col1">{{week.id}}</th>
              <td class="col2">
                <h6 class="titulo-clase">
                  {{week.title}}
                </h6>
                
              </td>
              <td class="col3">
                <ul>
                  <li *ngFor="let itemMember of members"><a target="_blank" [href]="itemMember.drive"><i class="fa fa-file-word-o" aria-hidden="true"></i> {{itemMember.name}}</a></li>
                  </ul>
              </td>
              <td class="col4">
                <ul>
                  <li *ngFor="let itemObs of week.observaciones">{{itemObs.detail}}</li>
                </ul>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </section>
    <aside class="col-2" style="border-left: solid 1px grey;">
      <h5 style="font-size: 18px !important;">OTROS GRUPOS</h5>

      <div *ngFor="let group of groups" class="border border-primary">
        <a [href]="group.url"><i>GRUPO {{ group.id }}</i></a>
        <ul>
          <li *ngFor="let member of group.integrantes">{{member }}</li>
        </ul>
      </div>
    </aside>
  </div>
</div>
